textarea {
    width: 95%;
    height: 200px;
}
.spButton{
    padding-left:65%;
    padding-top: 1%;
}
.shaButton{
    padding-left: 22%;
}
.key {
    margin-left:10%;
}
th {
    text-align: center;
    padding: 10px;
}
td {
    text-align: center;
    cursor:pointer;
}
td:hover {
    background-color: #eee;
}
.details {
    padding-top:2%;
}
input {
    text-align: center;
    width: 25%;
}
.caret {
    cursor: pointer;
    padding-top:3px;
}
.reactive {
    padding-left: 45%;
    padding-top: 25%;
   
}